/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Navigation bar */
#navbar {
    display: flex;
    position: absolute;
    align-items: center;

}

/* Navigation bar: logo and image */
#logo {
    margin: 34px 23px;

}

#logo img {
    margin: 3px 6px;
    height: 56px;
}

/* Navigation bar: list styling */
#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: -0.6;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
    opacity: ;
}

/* Home section */
#home {
    display: flex;
    height: 578px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

/* Service section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    display: block;
    text-align: center;
}

#services .box p {
    font-family: 'Raleway', sans-serif;
}

/* Client section */
#client-section {
    height: 344px;
    position: relative;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../bg1.jpg);
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.4;
}

.client-item {
    padding: 45px;
}

#clients img {
    height: 100px;
}

/* contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg) no-repeat center center;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input {}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}

/* Utility classes */
.h-primary {
    font-family: 'Raleway', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}